#center-h2 {
display: flex;
width: fit-content;
block-size: fit-content;
justify-content: center;
}

#form {
display: flex;
flex-direction: column;
align-content: center;
}

#centrar-choose {
display: flex;
flex-direction: column;
width: fit-content;
block-size: fit-content;
align-items: center;
margin: 0px;
}

#centrar-todo{
display: flex;
justify-content: center;
}




@media screen and (max-width: 748px) {

    .main-page-buton-mover{
        margin-bottom: 0;
    }

    #seeFavorites:hover{
        border-bottom: 5px solid rgb(0, 0, 0);
        margin-bottom: 10px;
    }

    .my-10{
        padding-bottom: 0%;
        margin-bottom: 0%;
    }

    #boton-fav{
        padding-bottom: 20px;
    }

    #head-principal{
        display: flex;
        flex-direction: column;
    }
    

}

#seeFavorites:hover{
    border-bottom: 5px solid rgb(0, 0, 0);
}

@media screen and (max-width: 748px) {

    .main-page-buton-mover{
        margin-bottom: 0;
    }

    #seeFavorites:hover{
        border-bottom: 5px solid rgb(0, 0, 0);
        margin-bottom: 10px;
    }

    .my-10{
        padding-bottom: 0%;
        margin-bottom: 0%;
    }

    #boton-fav{
        padding-bottom: 20px;
    }

    #head-principal{
        display: flex;
        overflow-wrap: normal;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
    #cocktailThumbnail{
    height: auto;
    border-radius: 0%;
    width: 75%;

    }

    #movieThumbnail{
        height: auto;
        border-radius: 0%;
        width: 75%;
    
    }
    #letra-header{
    
    }

   .main-page-buton-mover text-center{
  padding: 0px;
   }

   #boton-fav{
    padding-top: 10;
    margin-top: 0;
   }
    

}

#seeFavorites:hover{
    border-bottom: 5px solid rgb(0, 0, 0);
}

